@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
@import "react-toastify/dist/ReactToastify.css";

body {
  margin-block: 40px;
  min-height: 100vh;
  background-color: #e6e6e6;
  font-family: "Roboto Mono", monospace !important;
}
